* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    a {
        transition: all 100ms,
    }
    a:hover {
        opacity: 0.9;
    }
    i:hover {
        opacity: 0.9;
    }
}

h1, h2 {
    letter-spacing: 0.12em;
}

main {
    background-color: $colour-tertiary;
}