.contact-section {
    @include selection($colour-secondary, $colour-septenary);
    padding: 150px 200px 40px;
    margin: 0 6em;
    background-color: $colour-secondary;
    color: $colour-quaternary;
    text-align: center;
    h1 {
        font-size: $title-size;
    }
}

.contact {
    margin: 50px 0 0px;
    .btn {
        border-radius: 2em;
        display: inline-block;
        font-weight: bold;
        letter-spacing: .12em;
        padding: 1em 2em;
        margin: 20px 0 0;
        background: $colour-quinary;
    }
    a {
        color: $colour-quaternary;
    }
    i {
        padding: 20px;
    }
}

#mapid {
    height: 350px;
    width: 100%;
}

@media (max-width: 1300px) {
    .contact-section {
        padding: 150px 50px 50px;
    }
}

@media (max-width: 1000px) {
    .contact-section {
        margin: auto;
    }
}

@media (max-width: 600px) {
    .contact-section {
        padding: 150px 20px 50px;
        h1 {
            font-size: 1.8em;
        }
    }
}