.training-section {
    @include selection($colour-secondary, $colour-septenary);
    padding: 150px 200px 5px;
    margin: 0 6em;
    background-color: $colour-secondary;
    color: $colour-quaternary;
    h1 {
        font-size: $title-size;
        text-align: center;
    }
}

.trainings {
    &__item {
        @include flex(row, space-around, center);
        margin: 100px 0;
        line-height: 1.7em;
        img {
            width: 10em;
            border-radius: 50%;
            border: 0.5em solid $colour-quaternary;
            &:last-child {
                margin-left: 30px;
            }
            &:first-child {
                margin-right: 60px;
            }
        }
        a {
            color: $colour-quaternary;
            &:hover {
                border-bottom-style: solid;
                border-bottom-color: $colour-septenary;
                border-width: thin;
            }
        }
    }
}

@media (max-width: 1300px) {
    .training-section {
        padding: 150px 50px 5px;
    }
}

@media (max-width: 1000px) {
    .training-section {
        margin: auto;
    }

    .trainings {
        &__item {
            img {
                &:last-child {
                    margin-left: 30px;
                }
                &:first-child {
                    margin-right: 30px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .training-section {
        h1 {
            font-size: 1.8em;
        }
    }
    
    .trainings {
        &__item {
            img {
                display: none;
            }
        }
    }
}