.navbar {
  @include selection($colour-secondary, $colour-septenary);
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: $colour-primary;
  padding: 16px;
  color: $colour-quaternary;
  font-weight: bold;
  letter-spacing: 0.1em;
  a {
    color: $colour-quaternary;
    &:hover {
      border-bottom-style: solid;
      border-bottom-color: $colour-septenary;
      border-width: thin;
    }
  }
  &__link {
    padding-right: 45px;
    &-toggle {
      display: none;
      .fas {
        margin-top: -7px;
      }
    }
  }
  &__items {
    display: flex;
    &--right {
      margin-left:auto;
    }
  }
}
  
@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    &__link-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
     }
    &__items {
      flex-direction: column;
      display:none;
      &--right {
        margin-left:0;
      }
    }
    &__toggleShow {
      display: flex;
    }
  }
}